.imageCardContainer {
  width: 320px;
  height: 200px;
  position: relative;
  overflow: hidden;
}
.imageCardContainer:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.imageCardImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: pointer;
}

.userInfo {
  top: 200px;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.646);
  transition: top 250ms ease-in-out;
}

.imageCardContainer:hover .userInfo,
.imageCardContainer:focus .userInfo {
  top: 116px
}
.userName {
  font-size: 14px;
  font-weight: 500;
  color: #333;
}

.userAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}