.modalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 16px;
  outline: none;
}

.modalOverlay {
  z-index: 2;
  position: fixed;
  inset: 0px;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalImg {
  width: 100%;
  height: auto;
  border-radius: 4px;
  cursor: pointer;
}

