
.buttonContainer {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
}
.loadMoreBtn {
  display: inline-block;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: #007bff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background 250ms;
}

.loadMoreBtn:hover {
  background: #0056b3;
}

.loadMoreBtn:active {
  background: #003f7f;
}